<div data-ng-include="'views/partials/user_warnings.html'"></div>
<div id="UserWelcomeMessage">
  <div class="title" data-translate>Welcome!</div>
  <br />
  <ul>
    <li>
      <span data-translate>For the user documentation, visit:</span> <a href="https://docs.zamleaks.org" rel="noreferrer" target="_blank">docs.zamleaks.org</a>
    </li>
    <li>
      <span data-translate>If you need technical support, have general questions, or have new ideas for the software:</span> <a href="https://forum.globaleaks.org" rel="noreferrer" target="_blank">forum.globaleaks.org</a>
    </li>
  </ul>
</div>
